@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <div class="area">SIS WORK GREETING YOU</div>
    <div class="area">THIS WORK MAKED WITH ASP.NET</div>
</div>

