@{
    ViewData["Title"] = "Privacy Policy";
}
<link href="~/css/new.css" rel="stylesheet" type="text/css"/>
<link href='https://fonts.googleapis.com/css?family=Josefin+Sans' rel='stylesheet' type='text/css'>
<h1>
    <em>C</em>
    <em class="planet left">O</em>
    <em>S</em>
    <em>M</em>
    <em class="planet right">O</em>
    <em>S</em>
</h1>

<script>
    alert("Благодарим компанию COSMOS за финансовые вложения!");
    alert("COSMOS. МЕЧТЫ СБЫВАЮТСЯ!");
</script>